$pad:0;
$mar:0;
$background-white:#fff;

$imglaunch:'images/img_bg_1_gradient.jpg';
$img-height: 800px;
$img-width:auto;

$font-h1:4vh;
$wieght-font:1000;
$p-timer:15px;
$p-color:#b0b0b0;
$footer-pad:20px;
$h1-size:300px;
html,body{
    padding: $pad !important;
    margin: $mar !important;
}
/* On screens that are 992px or less, set the background color to blue */
@media screen and (min-width: 992px) {
    .launcher {
        background: url($imglaunch);
        height:  $img-height;
        width: $img-width;
    }
    
    .launcher-head{
        color: #fff;
        text-align: center;
        padding: 10px;
       font-weight: 800;
    }
  }
  
  /* On screens that are 600px or less, set the background color to olive */
  @media screen and (max-width: 600px) {
    .launcher {
        background: url($imglaunch);
        height:  300px;
        width: $img-width;
    }
    
    .launcher-head{
        color: #fff;
        text-align: center;
        padding: 10px;
       font-weight: 800;
    }
    footer.icons{
        position: relative;
        left: 10px;
        bottom: 0px;
        padding: 10px;
        color: #bfbfbf;
    }
  }

.inline{
    display: inline-block; 

}
.timer{
    position: relative;
    // background-color:  $background-white;
    .days{
        position: absolute;
    left: 30px;
    top: 30px;
        h1{
            font-size:$font-h1;
            font-weight: $wieght-font;
        }
        p{
            font-size: $p-timer;
        }
       
    }
    .hrs{
        position: absolute;
        left: 120px;
        top: 30px;
    h1{
        font-size:$font-h1;
        font-weight: $wieght-font;
    }
    p{
        font-size: $p-timer;
    }
    }
    .mins{
        position: absolute;
        left: 190px;
        top: 30px;
    h1{
        font-size:$font-h1;
        font-weight: $wieght-font;
    }
    p{
        font-size: $p-timer;
    }
    }
    .secs{
        position: absolute;
        left: 280px;
        top: 30px;
    h1{
        font-size:$font-h1;
        font-weight: $wieght-font;
    }
    p{
        font-size: $p-timer;
    }
    }
}
.launch{
    margin-left: 30px !important;
    margin-top: 130px;
    h1{
        font-size:$font-h1;
        font-weight: $wieght-font;
        max-width: $h1-size;
    }
    p{
        color: $p-color;
        font-size: $p-timer;
        text-align: justify;
        max-width: 400px;
        }
        div.email-box{
            
            height: 47px;
            max-width:  380px;
            input{
                border-radius: 5000px 0 0 5000px;
            padding-left: 1rem;
                background-color: #eeeeee;

            }

            .send-btn span{
                border-radius:  0 5000px 5000px 0;
                font-size: 0.8rem;
                color: $background-white;
                background-color: #0cb3e2 !important;
            }
        }
        .email-warning{
            color: $p-color;
        font-size: $p-timer;
        text-align: justify;
        max-width: 400px;
        margin-left: 20px;
        }
       
}
footer{
    position: absolute;
    left: 10px;
    bottom: 0px;
    padding: 20px;
    color: #bfbfbf;
}




